.form-group {
  margin: 1rem 0;
}

fieldset {
  position: relative;
  margin: 1rem 0;
  padding-top: 1rem;
  background: #fff3f5;
  border: 1px solid darkmagenta;
  // box-shadow: 2px 2px 0 darkmagenta;

  legend {
    position: absolute;
    top: -0.5rem;
    left: -1rem;
    color: darkmagenta;
    padding: 0.25em 1em;
    border: 1px solid darkmagenta;
    display: block;
    background: lighten(pink, 4);
    transform: skewX(-10deg);
    box-shadow: 2px 2px 0 darkmagenta;
  }
}

label {
  color: darken(darkmagenta, 5);
  display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
textarea,
select {
  background: white;
  font-size: 1rem;
  font-family: "Courier New", Courier, monospace;
  border: 1px solid darkmagenta;
  padding: 0.5rem;
  width: 100%;
}
