.form-group {
  margin: 1rem 0;
}

fieldset {
  position: relative;
  margin: 1rem 0;
  border: 1px solid black;

  legend {
    font-style: italic;
    display: block;
    background: pink;
  }
}

label {
  color: #333333;
  display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
textarea,
select {
  background: white;
  font-size: 1rem;
  border: 1px solid #333333;
  padding: 0.5rem;
  width: 100%;
}
